@import '../_components.scss';
@import '../mySlider.scss';
@import '../layouts/nav.scss';

// grid
.cont_h1_and_form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: repeat(1, calc(100vh - $nav_height));
      

    .h1_cont {
        background-color: $color4;
        display: flex; 
        padding: 65px;
        align-items: center; 
        h1 {
            text-align: center;
        }
    }

    // form and slider
    form.inscribe {
        background-color: $color3;
        display: flex;
        align-items: center;

        .nav_slider {
            position: absolute;
            top: 20px;
            left: 90px;
            width: 100%;
        }
     
        .progress_bar {
            position: absolute;
            top: 0;
            height: 20px;
            left: 0;
    
            div {
                background: linear-gradient(to right, $color2, $color4);
                border-radius: 5px;
            }
        }
    
        @include card-form(500px, 85%);
    
        .card_form {
            padding-top: 40px;
            fieldset {
                transition: .4s all ease;
                height: 100%;
                legend {
                    margin-top: 20px;
                }
                label {
                    transform: translateX(10px);
                }
            }
        }
     
        
        input[type=file] {
            margin-bottom: 25px;
            color: $color3;
            display: block;
            width: 100%;
        } 
    
        ::-webkit-file-upload-button {
    
            margin-top: 10px;
            margin-bottom: 5px;
            height: 30px;
            width: 100%;
            display: block;
            background-color: $color2;
            border: none;
            color: white;
    
            &:hover {
                cursor: pointer;
                background: $color4;
                color: $color1;
            }
        }
        #ins_date_birth {
            color: transparent;
            &.focus_valid {
                color: white !important;  
            }
        }
       
        
    
    }  
    
}


.arrow_buttons {
    transform: translateY(-8px);
    align-items: center;
    .next {
        font-size: 18px !important;
        clip-path: polygon(0 21%, 72% 20%, 100% 50%, 73% 80%, 0 80%);
        background: $color2  !important;
        padding: 20px 30px 20px 10px;
 
    }
     
    .prev {
        font-size: 50px;
        color: $color2;
    }

    button.disable {
        opacity: 0 !important;
    }
    button:hover {
        color: $color4; 
    }
}

.parent_btn_submit {  
    margin: 0 !important;

    .btn_submit {
        margin: 0 !important;
        padding-inline: 45px !important;
        font-size: 20px;
        position: absolute;
        bottom: -100px;
        right: 0;
    }
}

