@import '../base.scss';
@import '../layouts/_nav.scss';
@import '../_components.scss';
@import '../layouts/_login';
@import '../mySlider.scss';

.home_header {
    display: flex;
    overflow: hidden;
    align-items: center;        
    position: relative;
    gap: 20px;
    height: calc(100vh - $nav_height);  
    flex-direction: column;
    @media (min-width: 700px) {
        justify-content: space-between;    
        flex-direction: row;
    }
    h1 {
        margin-block: 25px;
        @media (min-width: 700px) {
            max-block: none;
            font-size: $bigFont;   
            border-left: 7.5px solid $color3;   
            padding-left: 30px;     
        }
    }
    .parent_inscribe_link {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        .link_to_inscribe {
            float: right;
            max-width: 100px;
            text-align: center;
        }

    }
    .circle_img_cont  {    
        $size_square : clamp(250px, 30vw,400px); 
        margin: 30px; 
        height: $size_square;
        width: $size_square;
        position: relative;           
        &:after {
            box-sizing: border-box;   
            content: '';
            position: absolute;
            width: calc($size_square + 45px);
            height: calc($size_square + 45px);
            border-radius: 50%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);  
            border: 1px solid $color3;
   
        } 
        &:before {
            box-sizing: border-box;
            content: '';
            position: absolute;
            width: calc($size_square + 21px);
            height: calc($size_square + 21px);
            border-radius: 50%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%); 
            border: solid 5px ;
            transform-origin: center;
            border-color: $color4 $color1 $color4 $color1;             
            // box-shadow: 0 0 0 50px red;
            animation: rotateInfinite 15s ease-in-out infinite ;
        }  
        @keyframes rotateInfinite {
            0% {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
            100% {
                transform: translate(-50%, -50%) rotate(-405deg);
            }
        }
        .slider_wrap {
            height: 100%;    
            .each_slider_element { 
                overflow: hidden; 
                border-radius: 50%;
            }
        }
           img {
            height: 100%;
            object-fit: cover;
           
        }

    }
}