<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/pages/css_register.css">
    <title>Inscrirbirse</title>
</head>
 
<body>
    <h1>Inscribete en VillaDonq y recibe la mejor educación</h1>

    <form class="slider inscribe">
        <div class="card_form">
            <!-- <ul class="nav_slider">
            </ul>  -->
            <div class="progress_bar">
                <div></div>
            </div>

            <div class="slider_wrap">
                <fieldset class="each_slider_element">
                    <legend>DATOS PERSONALES</legend>
                    <span>
                        <input type="text" id="ins_nombres" required>
                        <label for="ins_nombres">Nombres: </label>
                    </span>
                    <span>
                        <input type="text" id="ins_apellidos" required>
                        <label for="ins_apellidos">Apellidos: </label>
                    </span>
                    <span>
                        <input type="gmail" name="" id="ins_correo" required>
                        <label for="ins_correo">Correo: </label>
                    </span>
                </fieldset>
                <fieldset class="each_slider_element file">
                    <legend>DOCUMENTOS PERSONALES</legend>

                    <label for="ins_foto">Foto: </label>
                    <input type="file" id="ins_foto" required>


                    <label for="ins_partida_de_nacimiento">Partida de nacimiento: </label>
                    <input type="file" id="ins_partida_de_nacimiento" required>


                </fieldset>
                <fieldset class="each_slider_element file">
                    <legend>DOCUMENTOS ACADEMICOS</legend>

                    <label for="ins_foto">Boleta: </label>
                    <input type="file" id="ins_foto" required>


                    <label for="ins_notas">Notas: </label>
                    <input type="file" id="ins_notas" required>

                    <label for="ins_buena_conducto">Constancia de buena conducta</label>
                    <input type="file" name="" id="ins_buena_conducta">

                </fieldset>
            </div>
            
            <div class="arrow_buttons">
                <button class="prev" type="button"> ← </button>
                <button class="next" type="button">Siguiente</button>
                <span class="parent_btn_submit"><input type="submit" value="INSCRIBIR" class="inscribirse btn_submit"></span>
                
            </div>
        </div>

        

    </form>

</body>

<script src="js/mySlider.js"></script>
<script>
    opacity_effect_each = true
    document.querySelectorAll(".card_form input").forEach(input => {
        if (input.type !== 'file' && input.type !== 'submit') {
            input.onfocus = () => input.nextElementSibling.classList.add('focus_valid')
            input.onblur = () => input.value.length < 1 ? input.nextElementSibling.classList.remove('focus_valid') : ''
        } else {
            input.onchange = () => input.style.color = '#21E6C1'
        }
    })
   
    
</script>

</html>