<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/mySlider.css">
    <title>miSlider </title>
</head>
<body>
    <div class="slider">
        <div class="progress_bar">
            <div></div>
        </div>
        <div class="slider_wrap">
            <div class="each_slider_element"><p>1 cada Elemento del slider</p></div>
            <div class="each_slider_element"><p>2 cada Elemento del slider</p></div>
            <div class="each_slider_element"><p>3 cada Elemento del slider</p></div>
            <div class="each_slider_element"><p>4 cada Elemento del slider</p></div>
            <div class="each_slider_element"><p>5 cada Elemento del slider</p></div>
            <!-- <div class="each_slider_element"><p>6 cada Elemento del slider</p></div> -->
        </div>
        <div class="arrow_buttons">
            <button class="prev"><</button>
            <button class="next">></button>
        </div>

        <ul class="nav_slider">
        </ul>
        
    </div>
    
    <script src="js/mySlider.js"></script>
</body>
</html>