/* colores */
.full-screen {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.582);
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1039 !important;
}
.full-screen.full_screen_down {
  transform: translateY(100vh);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: clamp(300px, 85%, 1100px);
  margin: auto;
}


.fade_effect .slider_wrap {
  position: relative !important;
}
.fade_effect .slider_wrap .each_slider_element {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  height: 100% !important;
  opacity: 0;
  transition: 0.6s all ease;
}
.fade_effect .slider_wrap .each_slider_element.active_default {
  opacity: 1;
}

.zoom_effect .each_slider_element.zoom_effect_act {
  overflow: hidden;
}
.zoom_effect .each_slider_element.zoom_effect_act img {
  transition: 11s all linear;
  -webkit-animation: zoomAnimation 10s ease;
          animation: zoomAnimation 10s ease;
}
@-webkit-keyframes zoomAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes zoomAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.slider {
  position: relative;
}
.slider .slider_wrap {
  display: grid;
  transition: all 0.3s;
  overflow-x: scroll;
  scroll-behavior: smooth;
  width: 100%;
  gap: 0;
}
.slider .slider_wrap::-webkit-scrollbar {
  display: none;
}
.slider .slider_wrap {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.slider .slider_wrap .each_slider_element {
  position: relative;
  left: 0;
  color: white;
}
.slider .slider_wrap .each_slider_element img {
  transform: scale(1);
}
.slider .arrow_buttons {
  display: flex;
  justify-content: space-between;
  z-index: 9;
}
.slider .arrow_buttons button {
  background: transparent;
}
.slider .arrow_buttons button.disabled {
  visibility: hidden;
}
.slider .arrow_buttons button.disabled:hover {
  cursor: auto;
}
.slider .nav_slider {
  display: flex;
}
.slider .nav_slider li {
  height: 10px;
  width: 10px;
  background: rgba(41, 243, 0, 0.952);
  border-radius: 50%;
}
.slider .nav_slider li:hover {
  cursor: pointer;
}
.slider .nav_slider li.active {
  background-color: white;
}
.slider .progress_bar {
  width: 100%;
  height: 10px;
}
.slider .progress_bar div {
  transition: width 0.8s ease;
  height: 100%;
  background: green;
}

.main_nav {
  max-height: 90x;
  background-color: #081f3d;
  width: 100%;
  padding-block: 10px;
}
.main_nav svg {
  z-index: 1030 !important;
}
.main_nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_nav .logo > * {
  max-width: 250px;
}
.main_nav .nav_content {
  position: fixed;
  width: 100%;
  background: #278ea5;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1039 !important;
  top: -100%;
  transition: 0.3s all ease;
  color: white;
  padding-top: clamp(70px, 10vw, 90px);
  padding-left: clamp(60px, 15vw, 170px);
  z-index: 111 !important;
}
.main_nav .nav_content.full_screen_down {
  transform: translateY(100vh);
}
.main_nav .nav_content span {
  font-size: calc(clamp(28px, 6vw, 60px) - 16px);
  opacity: 0.7;
}
.main_nav .nav_content li {
  opacity: 0;
  position: relative;
  transform: translateX(-420px);
}
.main_nav .nav_content a {
  font-size: clamp(28px, 6vw, 60px);
  position: relative;
  background-image: linear-gradient(to right, #081f3d, #081f3d 50%, white 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 15px 0 0 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.main_nav .nav_content a:before {
  content: "";
  background: #21e6c1;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.main_nav .nav_content a:hover {
  background-position: 0;
}
.main_nav .nav_content a:hover::before {
  width: 40px;
}
.main_nav .nav-section {
  display: flex;
  height: 100%;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
}
.main_nav .nav-section .trigger_nav {
  padding: 0px;
  height: 30px;
  background: none;
  border: none;
}
.main_nav .nav-section .trigger_nav, .main_nav .nav-section .trigger_nav * {
  transition: all 0.7s ease;
}
.main_nav .nav-section .trigger_nav.active {
  z-index: 1030 !important;
  transform: translateY(20px);
}
.main_nav .nav-section .trigger_nav.active .path-1 {
  transform: rotate(38deg) !important;
  transform-origin: left;
}
.main_nav .nav-section .trigger_nav.active .path-2 {
  opacity: 0;
}
.main_nav .nav-section .trigger_nav.active .path-3 {
  transform: rotate(324deg) !important;
  transform-origin: 3px 15px;
}
.main_nav .nav-section .trigger_nav path {
  stroke: #21e6c1;
}
.main_nav .nav-section .trigger_nav:hover {
  cursor: pointer;
}
.main_nav .nav-section .trigger_nav:hover path {
  stroke: #21e6c1;
}
   .main_nav .nav-section .entrar-btn {

        width: 70px;
        padding-block: 9px;
        background: transparent;
        border: 1px solid #278ea5;
        position: relative;
        border-radius: 17px;
        overflow: hidden;
        transition: all 0.4s ease;
        opacity: 0.9; 

  }
.main_nav .nav-section .entrar-btn:before, .main_nav .nav-section .entrar-btn:after {
  content: "";
  position: absolute;
  background-color: #21e6c1;
  width: 100%;
  height: 100%;
  left: 0;
  transition: 0.6s all ease-out;
  z-index: -1;
}
.main_nav .nav-section .entrar-btn:before {
  top: -100%;
}
.main_nav .nav-section .entrar-btn:after {
  bottom: -100%;
}
.main_nav .nav-section .entrar-btn:hover {
  color: #081f3d;
  font-weight: bold;
}
.main_nav .nav-section .entrar-btn:hover:after {
  transform: translateY(-100%);
}
.main_nav .nav-section .entrar-btn:hover:hover:before {
  transform: translateY(100%);
}

body, html {
  scroll-behavior: smooth;
}

.cont_h1_and_form {
  overflow: hidden;
}
@media (min-width: 800px) {
  .cont_h1_and_form {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(1, calc(100vh - 90x));
  }
}
@media (min-width: 1060px) {
  .cont_h1_and_form {
    grid-template-columns: 50% 50%;
  }
}
.cont_h1_and_form .h1_cont {
  background-color: #21e6c1;
  display: flex;
  justify-content: center;
  font-style: clamp(28px, 6vw, 60px);
  align-items: center;
  min-height: 250px;
}
.cont_h1_and_form .h1_cont h1 {
  text-align: center;
  width: 90%;
  color: #081f3d;
}
.cont_h1_and_form form.inscribe {
  padding-block: 20px;
  background-color: #278ea5;
  display: flex;
  align-items: center;
}
.cont_h1_and_form form.inscribe .nav_slider {
  position: absolute;
  top: 20px;
  left: 90px;
  width: 100%;
}
.cont_h1_and_form form.inscribe .progress_bar {
  position: absolute;
  top: 0;
  height: 20px;
  left: 0;
}
.cont_h1_and_form form.inscribe .progress_bar div {
  background: linear-gradient(to right, #1f4287, #21e6c1);
  border-radius: 5px;
}
.cont_h1_and_form form.inscribe .card_form {
  color: white;
  width: min(85%, 450px);
  height: "";
  background: #081f3d;
  display: block;
  margin: auto;
  padding: 25px;
  border: none;
  position: relative;
  transition: 0.5s all;
  border-radius: 5px;
  opacity: 1;
}
.cont_h1_and_form form.inscribe .card_form::before, .cont_h1_and_form form.inscribe .card_form::after {
  content: " ";
  position: absolute;
  bottom: 11px;
  height: 11px;
  width: 90%;
  z-index: -10 !important;
  box-shadow: 0 11px 10px rgba(0, 0, 0, 0.6);
}
.cont_h1_and_form form.inscribe .card_form::after {
  right: 0px;
  transform: rotate(3deg);
}
.cont_h1_and_form form.inscribe .card_form::before {
  left: 0px;
  transform: rotate(-3deg);
}
.cont_h1_and_form form.inscribe .card_form legend {
  margin-bottom: 23px;
  text-align: center;
  width: 100%;
}
.cont_h1_and_form form.inscribe .card_form .cont_input_label,
.cont_h1_and_form form.inscribe .card_form span {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 30px;
}
.cont_h1_and_form form.inscribe .card_form .cont_input_label:hover,
.cont_h1_and_form form.inscribe .card_form span:hover {
  cursor: text;
}
.cont_h1_and_form form.inscribe .card_form .cont_input_label label,
.cont_h1_and_form form.inscribe .card_form span label {
  position: absolute;
  padding: 0;
  display: block;
  padding-top: 5px;
  bottom: 7px;
  left: 0;
  transition: all 0.3s ease;
  background: transparent;
  z-index: 1;
}
.cont_h1_and_form form.inscribe .card_form .cont_input_label label:hover,
.cont_h1_and_form form.inscribe .card_form span label:hover {
  cursor: text;
}
.cont_h1_and_form form.inscribe .card_form .cont_input_label label.focus_valid,
.cont_h1_and_form form.inscribe .card_form span label.focus_valid {
  transform: translateY(-24px);
  color: #21e6c1;
}
.cont_h1_and_form form.inscribe .card_form input:not(input[type=submit], input[type=radio], input[type=file]), .cont_h1_and_form form.inscribe .card_form select {
  border: 0;
  display: block;
  border-bottom: 2px solid #278ea5;
  background: rgb(11, 38, 73);
  border-radius: 3px;
  transition: 0.3s all ease;
  padding: 10px;
  padding-bottom: 5px;
  font-size: 18px;
  width: 100%;
}
.cont_h1_and_form form.inscribe .card_form input:not(input[type=submit], input[type=radio], input[type=file]):focus, .cont_h1_and_form form.inscribe .card_form select:focus {
  border-bottom: 2px solid #21e6c1;
}
.cont_h1_and_form form.inscribe .card_form textarea {
  border: 0;
  display: block;
  border-bottom: 2px solid #278ea5;
  background: rgb(11, 38, 73);
  border-radius: 3px;
  transition: 0.3s all ease;
  padding: 10px;
  padding-bottom: 5px;
  font-size: 18px;
  width: 100%;
  outline: none;
}
.cont_h1_and_form form.inscribe .card_form {
  overflow: hidden;
  padding-top: 40px;
}
.cont_h1_and_form form.inscribe .card_form fieldset {
  transition: 0.4s all ease;
  height: 100%;
}
.cont_h1_and_form form.inscribe .card_form fieldset label {
  transform: translateX(10px);
}
@media (min-width: 400px) {
  .cont_h1_and_form form.inscribe .d-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
.cont_h1_and_form form.inscribe input[type=file] {
  margin-bottom: 25px;
  color: #278ea5;
  display: block;
  width: 100%;
}
.cont_h1_and_form form.inscribe ::-webkit-file-upload-button {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-top: 10px;
  margin-bottom: 5px;
  height: 30px;
  width: 100%;
  display: block;
  background-color: #1f4287;
  border: none;
  color: white;
}
.cont_h1_and_form form.inscribe ::-webkit-file-upload-button:hover {
  cursor: pointer;
  background: #21e6c1;
  color: #081f3d;
}
.cont_h1_and_form form.inscribe #ins_date_birth {
  color: transparent;
}
.cont_h1_and_form form.inscribe #ins_date_birth.focus_valid {
  color: white !important;
}
.cont_h1_and_form form.inscribe .parent_btn_submit {
  margin: 0 !important;
}
.cont_h1_and_form form.inscribe .parent_btn_submit .btn_submit {
  margin: 0 !important;
  padding-inline: 45px !important;
  font-size: 20px;
}
.cont_h1_and_form form.inscribe .arrow_buttons {
  align-items: center;
  transition: all 0.3 ease;
}
 .cont_h1_and_form form.inscribe .arrow_buttons .next {
        font-size: 18px !important;
        background: #21e6c1 !important;
        padding: 9px 10px;
        color: #081f3d;
        text-align: center;
        font-weight: bold; }
        
.cont_h1_and_form form.inscribe .arrow_buttons .prev {
  font-size: 50px;
  color: #278ea5;
}
.cont_h1_and_form form.inscribe .arrow_buttons button.disable {
  opacity: 0 !important;
}
.cont_h1_and_form form.inscribe .arrow_buttons button:hover {
  color: #1f4287;
}


.slider_wrap {
  overflow-x: hidden !important; }

/*Juan Donquis css*/

.message{

  display: block;
  position: absolute;
  width: 289px;
  height: 100px;
  top: 0%;
  left: calc(50% - 145px);
  z-index: 999999;
  background: #081f3d;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 11px 10px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  
  transition: transform ease .7s, visibility ease .7s, opacity ease .8s;

}

.message-active {

  transform: translateY(110%);
  visibility: visible;
  opacity: 1;
}

.consult-message{
  visibility: hidden;
  opacity: 0;
  margin-top: 5px;
  padding: 5px;
  border-radius:5px;
  background: #dc3545;
  transition: visibility .5s ease-out, opacity .5s ease-out;
  text-align: center;
}

.consult-message.active{

  visibility: visible;
  opacity: 1;

}